@{
    ViewBag.Title = "Home Page";
    
}


<div class="mainbody">
    <h1>Error Logger IP</h1>
    <p class="lead">Error Logger IP is a application for third party vendors to see the logs of their appliation.</p>
    
</div>

<div class="boxes">
    <div class="box">
        <h2>Getting started</h2>
        <p>
            Please register yourself as user and enjoy the services offered.
        </p>
        
    </div>
    <div class="box">
        <h2>Login</h2>
        <p> If Already registered then ---Login </p>
        
    </div>
    </div>
